// Customizations Here (Optional)
.past {
    text-decoration:line-through;
}

.table .presentation-cell {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.table {
    margin-left: auto;
    margin-right: auto;
}

#top-ten-wrapper {
    max-width: 300px;
    max-height: 300px;
}

// Bulma Import
@import '~bulma';
